<div class="container-fluid header">
    <div class="p-5">
        <div class="row p-md-5">
            <div class="col-12" style="text-align:center;">
                <h1>Consulting</h1>
            </div>
        </div>
    </div>
</div>
<!-- Digital Consulting -->
<div class="container-fluid dmtransform mt-5 pt-5">
    <div class="row px-md-5 px-2">
        <div class="col-12">
            <h3>Digital Consulting</h3>
        </div>
        <div class="col-md-10 mt-4">
            <p>We are the leading Cloud computing providers all over the world and cover all needs
                IT using best class cloud strategy. We cover all the IT need via
                accurate and developed a unique phenomenon via managing the holistic cloud
                environment through the latest cloud-based models and technologies.</p>
        </div>
    </div>
</div>

<!-- OUR SERVICES -->
<div class="container-fluid  mt-3 ourservices">
    <div class="row p-md-5 p-2">
        <div class="col-12">
            <h3>Our Services</h3>
        </div>
        <!-- ------------------------------ -->
        <div class="col-12 mt-md-5 mt-3 p-md-0 p-3">
            <div class="row mt-md-3 colservice">
                <div class="col-md-5 p-1 m-1 ">
                    <div class="ourservicespoints1 p-5">
                        <h3>Staffing</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1">
                    <div class="ourservicespoints1 p-5">
                        <h3>HR Recruitment</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1 mt-3">
                    <div class="ourservicespoints1 p-5">
                        <h3>Training And Development</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1 mt-3">
                    <div class="ourservicespoints1 p-5">
                        <h3>Consulting Advisory</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ---------------------- -->


<!-- OUR BENEFITS -->
<div class="container-fluid ourstrategies mt-3">
    <div class="row">
        <!-- ------------------------- -->
        <div class="col-12">
            <div class="row p-4">
                <div class="col-md-6 p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Spark innovation</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Construct a plan of action</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Outperform the competition</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Putting strategies into play</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Increase your success</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/square.png">
                                <h4>Capture your audience’s attention</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- STEP BY STEP PROCESS -->

<div class="container-fluid mt-5 pt-5 stepbystepprocess">
   
    <div class="row p-md-5 ">
        <div class="col-12 px-md-3 px-3">
            <h3>Step-by-step Process</h3>
        </div>
        <div class="col-12 mb-5">
            <div class="row stepbox">
                <div class="col-md-6 col-9 forstepbox">
                    <div class="smallbox">Step &nbsp;<b>1</b></div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus inventore dignissimos dolore quaerat
                        quis magni non cupiditate
                        sint a, illum accusamus vitae eum facilis maxime ipsa animi, reprehenderit, incidunt hic.</p>
                </div>
                <div class="col-md-6 col-9 forstepbox">
                    <div class="smallbox">Step &nbsp;<b>2</b></div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus inventore dignissimos dolore quaerat
                        quis magni non cupiditate
                        sint a, illum accusamus vitae eum facilis maxime ipsa animi, reprehenderit, incidunt hic.</p>
                </div>
                <div class="col-md-6 col-9 forstepbox">
                    <div class="smallbox">Step &nbsp; <b>3</b></div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus inventore dignissimos dolore quaerat
                        quis magni non cupiditate
                        sint a, illum accusamus vitae eum facilis maxime ipsa animi, reprehenderit, incidunt hic.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OUR HR TEAM -->
<div class="container-fluid mt-5 pt-5">
    <div class="row px-md-5 px-2">
        <div class="col-12 hrteam">
            <h3>Our Hr recrutment team provide</h3>
        </div>
        <!-- ---------------------- -->
        <div class="col-12">
        <div class="row p-2">
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Front-end developers</h3>
            <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Back-end developers</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Full-stack developers</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Mobile Developer</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>UI/UX designers</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Business analysts</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Project managers</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Project managers</h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-4 p-2">
                <div class="ourhrteam2">
                    <h3>Project managers</h3>
                    <p></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- ........................................... -->

<div class="container-fluid pt-5 mt-5 itconsulting">
    <div class="row p-md-5 p-3">
        <div class="col-12 ">
            <h3>We provide IT consulting services for</h3>
        </div>
        <div class="col-12 mt-5 mb-5">
            <div class="row">
                <div class="col-md-4 mt-3">
                    <div class="itconsulting2">
                        <img src="assets/image/Business.png" height="120vmin" width="120vmin">
                        <br>
                        <h5>Large Businesses</h5>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="itconsulting2"><img src="assets/image/small&big.png" height="120vmin" width="120vmin">
                        <br>
                        <h5>Small & medium Businesses</h5>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="itconsulting2"><img src="assets/image/startup.png" height="120vmin" width="120vmin">
                        <br>
                        <h5>Startups</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FAQ -->

<div class="container-fluid mt-5 faqcont">
    <div class="row mt-5 px-md-5 px-3">
        <div class="col-10 mt-5">
            <h3>Frequently asked questions</h3>
        </div>
        <div class="col-12 px-md-5 px-2 p-4">
            <cdk-accordion class="example-accordion">
                <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
                    class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                    <div class="row example-accordion-item-header" (click)="onclickAccordionItem(accordionItem)">
                        <div class="col-12" id="sam"> {{ item.title }}</div>
                        <span class="example-accordion-item-description">
                            <div id="click"><img src="assets/image/{{getToggleIcon(accordionItem)}}" width="32vmin"
                                    height="32vmin">
                                <div class="example-accordion-item-body" role="region"
                                    [style.display]="accordionItem.expanded ? '' : 'none'"
                                    [attr.id]="'accordion-body-' + index"
                                    [attr.aria-labelledby]="'accordion-header-' + index">
                                    <div>{{item.description}}</div>
                                </div>
                            </div>
                        </span>
                    </div>
                </cdk-accordion-item>
            </cdk-accordion>
        </div>
    </div>
</div>
