<div class="container-fluid header">
    <div class="p-5">
        <div class="row mx-md-5 p-md-5 p-5">
            <div class="col-12" style="text-align:center;">
                <h1>Cloud</h1>
            </div>
        </div>
    </div>
</div>

<!-- SOLUTION PROVIDER -->

<div class="container-fluid mt-5 pt-3 p-md-5 p-3">
    <div class="row">
        <div class="col-md-10 solutionprovider">
            <h3>Cloud Solutions Provider</h3>
            <p>We are the leading Cloud computing providers all over the world and cover all needs
                IT using best class cloud strategy. We cover all the IT need via
                accurate and developed a unique phenomenon via managing the holistic cloud
                environment through the latest cloud-based models and technologies.</p>
        </div>
    </div>
</div>


<!-- PARTNERSHP -->


<div class="container-fluid mt-3 mb-5 p-md-5 p-3">
    <div class="row mb-5">
        <div class="col-md-10 Partner">
            <h3>Our Cloud Partnerships</h3>
            <p>
                The most successful cloud transformations are enabled through a network of
                expert partners.Here are some of our strategic partners that we work with.
            </p>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-md-4 p-1 imgpartner">
                    <img src="assets/image/aws  1.png" height="98px" width="163px">
                    <p class="pt-3">No matter which industry you belong to, we can help speed your design and migration
                        on
                        AWS Cloud using industry leading tools and an agile methodology.
                    </p>
                </div>

                <div class="col-md-4 p-2 imgpartner">
                    <img src="assets/image/Googlecld.png" height="118px" width="301px" id="google">
                    <p>We can help your organization accelerate innovation in products/services and
                        leverage Azure’s expanding range of features and services with utmost ease.
                    </p>
                </div>

                <div class="col-md-4 p-2 imgpartner">
                    <img src="assets/image/azure 1.png" height="116px" width="116px">
                    <p>We can help your organization leverage the full potential of GCP - from
                        AI-enabled products to greater organizational collaboration.</p>
                </div>

            </div>
        </div>
    </div>
    </div>

    <!-- WHAT WE OFFER -->
    <div class="container-fluid whatweoffer p-md-5 p-3 mt-5">
        <div class="row pt-5">
            <div class="col-md-10">
                <h3>What we offer</h3>
                <p class="mb-5 mt-1 mx-3">Our main motive to reduce IT resources and improve productivity with
                    lower and affordable costs. Our Cloud consultants are capable to make advanced
                    tools, and applications using high-level cloud concepts.</p>
            </div>
            <!-- ------------------- -->
            <div class="col-12 mb-5  px-md-5 px-2">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>PLATFORM AS A SERVICE</h5>
                            <p style="text-align:center ;">It helps to develop and manage the applications without
                                maintaining any
                                  physical infrastructure.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>CLOUD APPLICATION SERVICES</h5>
                            <p>We can make demanding hybrid-based cloud application which helps for
                                the integration and migration of cloud application.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>DATABASE MANAGEMENT SYSTEM</h5>
                            <p>DBMS plays a vital role between the interface and end-user.
                                It frequently manages and maintains the order of data.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>DEVOPS AS A SERVICE</h5>
                            <p>DevOps can easily enhance the general approach & develop the testing ability
                                and monitoring quality data using high level tools and techniques.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>HYBRID CLOUD</h5>
                            <p>It is a perfect set of public and private clouds. it is very cost-effective and
                                works as a hybrid cloud strategy.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 p-2">
                        <div class="discusspoint1">
                            <h5>CLOUD IMPLEMENTATION STRATEGY</h5>
                            <p>It helps to find the risk of the implantation process and make a perfect business
                                combination with using advanced base cloud models.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- BENEFITS FROM US  -->

    <div class="container-fluid mt-5 pt-3">
        <div class="row p-md-5 p-3">
            <div class="col-md-10 benefits">
                <h3>Benefits of using our service</h3>
                <p>Cloud computing has played a major role to build an
                    organization or business entities,
                    there are plenty of core features and advantages such as:</p>
            </div>
            <!-- ------------------- -->
            <div class="col-12 mt-5">
                <div class="row mt-md-5">
                    <div class="col-md-6 p-md-3 pointandimageS">
                        <img src="assets/image/cloudpic22.png" width="100%" height="100%">
                    </div>
                    <div class="col-md-6 mt-md-5 p-md-2 pointandimage">
                        <h3>ACCESS ANYWHERE APPLICATIONS AND CONTENT</h3>
                        <p class="mt-3">Users can access anywhere and anytime from all over the globe.
                            As well, cloud technologies have capable to access any devices.</p>
                        <h3 class="mt-5">WORK EASILY & SECURELY WITHIN TEAMS</h3>
                        <p class="mt-3">Users can access anywhere and anytime from all over the globe.
                            As well, cloud technologies have capable to access any devices.</p>
                        <h3 class="mt-5">HIGHER UTILIZATION OF INVESTMENTS</h3>
                        <p class="mt-3">The infrastructure we provide is of the best quality and we ensure
                            it is done properly with proper finishing, leaving the clients with
                            no quality concern!</p>
                    </div>

                </div>
            </div>
            <!-- ------------------- -->
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-md-6 mt-md-5 p-md-2 pointandimage">
                        <h3>REDUCED COMPLEXITY</h3>
                        <p class="mt-3">Users can access anywhere and anytime from all over the globe.
                            As well, cloud technologies have capable to access any devices.</p>
                        <h3 class="mt-5">SEAMLESS EMPLOYEE COLLABORATION</h3>
                        <p class="mt-3">Users can access anywhere and anytime from all over the globe.
                            As well, cloud technologies have capable to access any devices.</p>
                        <h3 class="mt-5">FASTER APPLICATION DEPLOYMENTS</h3>
                        <p class="mt-3">The infrastructure we provide is of the best quality and we ensure
                            it is done properly with proper finishing, leaving the clients with
                            no quality concern!</p>
                    </div>
                    <div class="col-md-6 p-md-3 pointandimageS">
                        <img src="assets/image/cloudimg1.png" width="100%" height="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /* STEPS 1 & 2 */ -->

    <div class="container-fluid mt-5 pt-3">
        <div class="row px-md-5 p-2">
            <div class="col-12 benefits">
                <h3>Steps we follow for cloud based projects</h3>
                <p>We create beautiful and easy-to-use mobile applications
                    that offer flawless functionality and get positive feedback from users.</p>
            </div>
            <!-- ------------------ -->
            <div class="col-12">
                <div class="row p-md-5 p-2 stepsrow">
                    <div class="col-md-4 mt-md-2 mt-3 mx-1 mb-3 stepscount">
                        <a class="mt-md-2" style="color: black;">01</a>
                        <h3 class="mt-md-2">Assement</h3>
                        <p class="mt-md-2">We access and reassess the work before it is perfect,
                            and then make sure to deliver the perfect product for one’s site.</p>
                    </div>

                    <div class="col-md-4 mt-md-2 mt-3 mx-1 mb-3 stepscount">
                        <a class="mt-md-2" style="color: black;">02</a>
                        <h3 class="mt-md-2">Planning</h3>
                        <p class="mt-md-2">we plan how to proceed with our technologies,
                            and get the best benefits through a systematic approach for the same.</p>
                    </div>

                    <div class="col-md-4 mt-md-2 mt-3 mx-1 stepscount">
                        <a class="mt-md-2" style="color: black;">03</a>
                        <h3 class="mt-md-2">Deployment</h3>
                        <p class="mt-md-2">We deploy skilled individuals for different sectors hence
                            getting the best work done with the proper skill allotments.</p>
                    </div>

                    <div class="col-md-4 mt-md-2 mt-3 mx-1 stepscount">
                        <a class="mt-md-2" style="color: black;">04</a>
                        <h3 class="mt-md-2">Optimization</h3>
                        <p class="mt-md-2">Every sector needs consistent optimization,
                            that provides the best prospects for the same, delivering the best output.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- INNOVATE -->
    <div class="container-fluid p-md-5 p-2">
        <div class="row p-md-4 p-2 innovatewithus">
            <div class="col-12">
                <h3>Why innovate your business with us</h3>
            </div>
            <!-- ------------------ -->
            <div class="col-12 mt-5 mb-3">
                <div class="row p-md-3 p-2">
                    <div class="col-md-4 mt-md-2 mt-3 innovatepointcount">
                        <img src="assets/image/Group 2959.png">
                        <p class="mt-3">Consistant high-quality results with a robust agile team and a dedicated QA
                            practice</p>
                    </div>
                    <div class="col-md-4 mt-md-2 mt-3 innovatepointcount">
                        <img src="assets/image/Group 2957.png">
                        <p class="mt-3">High cost effective and best of bread solution with no last minute surprise</p>
                    </div>
                    <div class="col-md-4 mt-md-2 mt-3 innovatepointcount">
                        <img src="assets/image/Group 2958.png">
                        <p class="mt-3">Transparent project management with maximum adherence to deadline</p>
                    </div>
                </div>
            </div>
            <!-- --------------------- -->
            <div class="col-12 mt-md-4 mt-2 mb-5">
                <div class="row innovatepointcountbtn">
                    <div class="col-md-3 col-6 p-md-3 p-2 ctnus">
                        <a routerLink="/Contact">LET'S DISCUSS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>