<div class="container-fluid header">
    <div class="p-5">
        <div class="row p-md-5 p-3">
            <div class="col-12" style="text-align:center;">
                <h1>Web and CMS</h1>
            </div>
        </div>
    </div>
</div>

<!--WEB AND CMS -->


<div class="container-fluid mt-5">
    <div class="row p-md-5 p-3">
        <div class="col-md-10 webandcms">
            <p>We are the leading Cloud computing providers all over the world and cover all needs
                IT using best class cloud strategy. We cover all the IT need via
                accurate and developed a unique phenomenon via managing the holistic cloud
                environment through the latest cloud-based models and technologies.</p>
        </div>
    </div>
</div>
<!-- OUR SERVICES -->

<!-- OUR SERVICES -->
<div class="container-fluid  mt-5 ourservices">
    <div class="row p-md-5 p-3">
        <div class="col-md-10">
            <h3>Our Services</h3>
            <p class="mt-3">We offer our digital services across the world that drive business value and ensure to
                empower our clients to meet their different needs. Our IT experts, strategize the roadmaps and deliver
                innovative, scalable, and robust custom solutions that are built by top industry experts.</p>
        </div>
        <!-- ------------------------------ -->
        <div class="col-12 mt-5">
            <div class="row mt-md-3 colservice">
                <div class="col-md-5 p-1 m-1 ">
                    <div class="ourservicespoints1 p-5">
                        <h3>Website Development</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1">
                    <div class="ourservicespoints1 p-5">
                        <h3>E-Commerce Solutions</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1 mt-3">
                    <div class="ourservicespoints1 p-5">
                        <h3>WordPress Website</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
                <div class="col-md-5 p-1 m-1 mt-3">
                    <div class="ourservicespoints1 p-5">
                        <h3>Application Maintaince</h3>
                        <p>creating new products that not only work as designed but succeed in their objectives</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- CMS WEBSITE DEVELOPMENT -->
<div class="container-fluid mt-5 webdevelopmentcont">
    <div class="row p-md-5 p-3">
        <div class="col-md-10">
            <h3>CMS Website Development</h3>
            <p class="mt-3">Our open source development team hands on the latest open source technologies to make the most of your
                budget and render
                best-suited development services based on your organizational requirements.</p>
        </div>
        <!-- -------------------------- -->
        <div class="col-12 mt-md-5 mt-3">
            <div class="row">
                <div class="col-md-6 p-2">
                    <div class="webdevelopment2 p-3 m-3 px-3">
                        <h3>Creation of systems from scratch</h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="webdevelopment2 p-3 m-3 px-3">
                        <h3>Custom plugin development and third-party integrations</h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="webdevelopment2 p-3 m-3 px-3">
                        <h3>Customization and migration of existing systems</h3>
                    </div>
                </div>
                <div class="col-md-6 p-2">
                    <div class="webdevelopment2 p-3 m-3 px-3">
                        <h3>In-depth optimization and system upgrades</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- PROCESS -->
<div class="ourprocesshead container-fluid">
    <div class="row">
        <div class="col-md-10 p-md-5 p-3">
            <h3>Our Process</h3>
            <p class="mt-2">We offer our digital services across the world that drive business value and ensure to
                empower our clients to meet their different needs. Our IT experts, strategize the roadmaps and deliver
                innovative, scalable, and robust custom solutions that are built by top industry experts.</p>
        </div>
    </div>
</div>

<div class="ourprocess container-fluid">
    <div class="row">
    <div class="col-5 ourprocessdesign">
        <div class="circle">
            <img src="assets/image/navycircle.png" width="83%" height="83%">
            <h4>Stage 1</h4>
        </div>
        <div class="vl"></div>
        <div class="circle">
            <img src="assets/image/navycircle.png" width="83%" height="83%">
            <h4>Stage 2</h4>
        </div>
        <div class="vl"></div>
        <div class="circle">
            <img src="assets/image/navycircle.png" width="83%" height="83%">
            <h4>Stage 3</h4>
        </div>
        <div class="vl"></div>
        <div class="circle">
            <img src="assets/image/navycircle.png" width="83%" height="83%">
            <h4>Stage 4</h4>
        </div>
        <div class="vl"></div>
        <div class="circle">
            <img src="assets/image/navycircle.png" width="83%" height="83%">
            <h4>Stage 5</h4>
        </div>
    </div>

    <div class="col-7 ourprocesscontent p-lg-5 p-3">
        <div class="row p-lg-5 p-2">
            <div class="col-12 p-lg-2 mb-md-5">
                <h3>Planning</h3>
                <p class="mt-3">Whether you are working on a new idea or have an existing product, we'd love the
                    opportunity to help
                    your team solve your most challenging problems.</p>

                <ul class="mt-3">
                    <li class="mt-2">Research and strategy</li>
                    <li class="mt-2">Information architecture</li>
                    <li class="mt-2">Visual interactive design</li>
                    <li class="mt-2">Test and deliver</li>
                </ul>
            </div>

            <div class="col-12 p-lg-2 mt-5  mb-md-5">
                <h3 class="mt-5">Analyzing</h3>
                <p class="mt-3">Whether you are working on a new idea or have an existing product, we'd love the
                    opportunity to help
                    your team solve your most challenging problems.</p>

                <ul class="mt-3">
                    <li class="mt-2">Research and strategy</li>
                    <li class="mt-2">Information architecture</li>
                    <li class="mt-2">Visual interactive design</li>
                    <li class="mt-2">Test and deliver</li>
                </ul>
            </div>

            <div class="col-12 p-lg-2 mt-5  mb-md-5">
                <h3 class="mt-5">Design & Development</h3>
                <p class="mt-3">Whether you are working on a new idea or have an existing product, we'd love the
                    opportunity to help
                    your team solve your most challenging problems.</p>

                <ul class="mt-3">
                    <li class="mt-2">Research and strategy</li>
                    <li class="mt-2">Information architecture</li>
                    <li class="mt-2">Visual interactive design</li>
                    <li class="mt-2">Test and deliver</li>
                </ul>
            </div>

            <div class="col-12 p-lg-2 mt-5  mb-md-5">
                <h3 class="mt-5">Testing</h3>
                <p class="mt-3">Whether you are working on a new idea or have an existing product, we'd love the
                    opportunity to help
                    your team solve your most challenging problems.</p>

                <ul class="mt-3">
                    <li class="mt-2">Research and strategy</li>
                    <li class="mt-2">Information architecture</li>
                    <li class="mt-2">Visual interactive design</li>
                    <li class="mt-2">Test and deliver</li>
                </ul>
            </div>

            <div class="col-12 p-lg-2 mt-5  mb-md-5">
                <h3 class="mt-5">Deployment & Maintenance</h3>
                <p class="mt-3">Whether you are working on a new idea or have an existing product, we'd love the
                    opportunity to help your team solve your most challenging problems.</p>

                <ul class="mt-3">
                    <li class="mt-2">Research and strategy</li>
                    <li class="mt-2">Information architecture</li>
                    <li class="mt-2">Visual interactive design</li>
                    <li class="mt-2">Test and deliver</li>
                </ul>
            </div>

        </div>

    </div>
</div>
</div>

<!-- BENEFITS -->

<div class="container-fluid benefitscont mt-5 pt-md-5 pt-3">
    <div class="row p-md-5 p-3">
        <div class="col-md-10">
            <h1 class="mb-4">Benefits</h1>
            <p>We offer our digital services across the world that drive business value and ensure to
                empower our clients to meet their different needs. Our IT experts, strategize the roadmaps
                and deliver innovative, scalable, and robust custom solutions that are
                built by top industry experts..</p>
        </div>
        <!-- ------------------- -->
        <div class="col-12 mt-5 mb-5">
            <div class="row mb-5 benefitrow">

                <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopic">
                    <h4>Faster Page Rendering</h4>
                    <p class="mt-3">We at Victorious help you obtain all-ne business adaptation with increased
                        conversion, generate more leads, traffic and build strategic brand loyalty...</p>
                </div>

                <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopics">

                    <h4>Flawless Scrolling</h4>
                    <p class="mt-3">Here, we build top-notch android and iOS mobile app applications that can perform
                        across different devices, resolutions and screen sizes...</p>

                </div>

                <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopic">
                    <h4>Few compatibility issue</h4>
                    <p class="mt-3">We specialize in developing website and CMS platform to make it more convenient to perform things such as edit existing pages, add an online store...</p>
                </div>

                <div class="row mb-5 benefitrow mt-5">
                    <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopics">

                        <h4>Consistent Performence</h4>
                        <p class="mt-3">We have worked on responsive, stable and feature-rich web applications that can easily solve real customer problems. </p>
    
                    </div>

                    <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopic">
                        <h4>Budget Oriented</h4>
                        <p class="mt-3">We have worked on responsive, stable and feature-rich web applications that can easily solve real customer problems. </p>
                    </div>

                    <div class="col-lg-3 col-md-5 col-12 p-4 pt-5 mt-3 benefitboxtopics">

                        <h4>Unconditional  Support</h4>
                        <p class="mt-3">Victorious offer data analytics services and improve operational efficiencies for better decision-making, automation, predictive modeling that accelerate...</p>
    
                    </div>

                </div>

                </div>
               
            </div>
        </div>
    </div>


<!-- FEATURED PROJECTS -->
<div class="container-fluid mt-5">
    <div class="row p-md-5 p-2">
        <div class="col-md-10 featuredproject">
            <h3>Featured Projects</h3>
            <p class="mt-3">We are a leading web, mobile application and software development service provider with a</p>
        </div>
        <div class="col-12">
            <div class="row p-md-3 p-5 VICTO">
                <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slides" class=" col-12 p-md-3 slide">
                        <img src="{{slide.img}}">
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>