<div class="container-fluid">
    <div class="  header p-5">
        <div class="row mx-md-5 p-md-5">
            <div class="col-12">
                <h1>Our Work</h1>
            </div>
            <div class="col-12 p-md-3 p-0">
                <p>Whether it’s a simple website or a sophisticated web application,
                    our work excels in quality and effectiveness.</p>
            </div>
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------- -->

<div class="container-fluid mt-5 pt-5">
    <div class="row">
        <div class="col-12">
            <div class="row submenucont">
                <div class="col-md-8 sbmn" align="center">
                    <ul>
                        <li><a routerLink="/Mobile" (click)="exit()">Mobile App</a></li>
                        <li><a routerLink="/webandcms" (click)="exit()">Website</a></li>
                        <li><a routerLink="/Dashboard" (click)="exit()">Dashboard</a></li>
                        <li><a routerLink="/view" (click)="exit()">View All</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------------------------------------------------------------------ -->

<div class="container-fluid projectcont mt-5">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="row mt-5 projectdetailrow">
                <div class="col-md-5 col-12 mb-3">
                    <div class="imageandcontent">
                        <img src="assets/image/Rectangle.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their
                            customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
                <div class="col-md-5 col-12 mt-5">
                    <div class="imageandcontent" id="cnt2">
                        <img src="assets/image/54041.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their
                            customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
            </div>
        </div>

<!-- -------------------------------------------------------------------------------------- -->
        <div class="col-12 mb-5">
            <div class="row mt-5 projectdetailrow">
                <div class="col-md-5 col-12 mb-3">
                    <div class="imageandcontent">
                        <img src="assets/image/Rectangle 185.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their
                            customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
                <div class="col-md-5 col-12 mt-5">
                    <div class="imageandcontent" id="cnt2">
                        <img src="assets/image/Rectangle 189.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their
                            customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------------- -->
        <div class="col-12 mb-5">
            <div class="row mt-5 projectdetailrow">
                <div class="col-md-5 col-12 mb-3">
                    <div class="imageandcontent">
                        <img src="assets/image/Rectangle 190.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
                <div class="col-md-5 col-12 mt-5">
                    <div class="imageandcontent" id="cnt2">
                        <img src="assets/image/Rectangle 191.png" class="rect">
                        <h3>Cinematic Marketplace</h3>
                        <p> MoviePass came to us with a vision to improve their existing MoviePass mobile app and evolve
                            the way their customers experienced their brands and p...
                        </p>
                        <h4>UX/UI Design &nbsp; &nbsp; &nbsp; &#xb7; &nbsp; &nbsp; &nbsp; Development</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------------------------------------------- -->
    </div>
</div>

<!-- Tools & Technologies -->

<div class="container-fluid techcontainer mt-5 pt-md-5">
    <div class="row p-md-5 p-2">
        <div class="col-12">
            <h2 class="toolt">Tools <font color="#00B4D0">& Technologies</font>
            </h2>
        </div>
        <div class="col-md-9 col-12 mt-5">
            <p>We opt for the best technological stack with the motive to deliver futuristic solutions that turn you
                unique as
                well as stay ahead in the edge of market competition. Our developers create a combination of the best..
            </p>
        </div>

        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mobile">
                    <h3>Mobile Development</h3>
                </div>
                <div class="col-lg-9 col-12 ">
                    <div class="row">
                        <div class="col-md-3 col-sm-6  col-12 mb-4">
                            <div class="mobiletech"><img src="assets/image/android .png" class="dvimg">
                                <h6>Android</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6  col-12 mb-4">
                            <div class="mobiletech"><img src="assets/image/apple.png" class="dvimg">
                                <h6>iOS</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12 mb-4">
                            <div class="mobiletech"><img src="assets/image/flutter.png" class="dvimg">
                                <h6>Flutter</h6>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6  col-12 mb-4">
                            <div class="mobiletech"><img src="assets/image/react.png" class="dvimg">
                                <h6>React</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- -------------------------------------------------------------------------- -->

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 web">
                        <h3>Web Development</h3>
                    </div>
                    <div class="col-lg-9 col-12 ">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="webtech"><img src="assets/image/django.png" class="dvimg"></div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="webtech"><img src="assets/image/php.png" class="dvimg">
                                    <h6>PHP</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="webtech"><img src="assets/image/node.png" class="dvimg" height="68rem">
                                    <h6 class="nde">Node JS</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="webtech"><img src="assets/image/dot.png" class="dvimg">
                                    <h6>DOT NET</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- -->

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 web">
                        <h3>Digital Marketing</h3>
                    </div>
                    <div class="col-lg-9 col-12 ">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="marketing"><img src="assets/image/googleAd.png" class="dvimg">
                                    <h6>Google Adds</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="marketing"><img src="assets/image/facebookAds.png" class="dvimg"
                                        height="58rem">
                                    <h6>Facebooks Adds</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="marketing"><img src="assets/image/GoogleAnalytics.png" class="dvimg">
                                    <h6>Google Analytics</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- -->

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 web">
                        <h3>Designing</h3>
                    </div>
                    <div class="col-lg-9 col-12 ">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 ol-12 mb-4">
                                <div class="Designing"><img src="assets/image/photoshop 1.png" class="dvimg">
                                    <h6>Photoshop</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 ol-12 mb-4">
                                <div class="Designing"><img src="assets/image/illustrator 1.png" class="dvimg">
                                    <h6>Illustrator</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 ol-12 mb-4">
                                <div class="Designing"><img src="assets/image/figma.png" class="dvimg">
                                    <h6>Figma</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- -->

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 mb-3 web">
                        <h3>Cloud</h3>
                    </div>
                    <div class="col-lg-9 col-12 ">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="Clouds"><img src="assets/image/aws.png" class="dvimg">
                                    <h6 id="aws">Amazon Web Services</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="Clouds"><img src="assets/image/google.png" class="dvimg" height="55rem">
                                    <h6 class="glecld">Google Cloud</h6>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12 mb-4">
                                <div class="Clouds"><img src="assets/image/azure.png" class="dvimg">
                                    <h6>Microsoft Azure</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Boost  -->

<div class="container-fluid boostcont">
    <div class="row p-md-2">
        <div class="col-12">
            <div class="row">
                <div class="col-md-10">
                    <h2>Boost your business with right technology partner </h2>
                </div>
                <div class="col-md-9 mt-md-3 mt-3">
                    <p>Get a 360-degree overview of our capabilities and how they can
                        be applied to your future or existing product.</p>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-2 col-4 mt-3" style="text-align:center;">
                        <a routerLink="/Contact" (click)="exit()" class="p-3">CONTACT US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>