<div class="container-fluid header">
    <div class="p-5">
        <div class="row p-md-5 p-5">
            <div class="col-12" style="text-align:center;">
                <h1>Digital Marketing</h1>
            </div>
        </div>
    </div>
</div>

<!-- Digital Marketing & Transformation-->
<div class="container-fluid dmtransform mt-5 pt-5">
    <div class="row p-md-5 p-3">
        <div class="col-12">
            <h3>Digital Marketing & Transformation</h3>
        </div>
        <div class="col-md-10 mt-4">
            <p>We are the leading Cloud computing providers all over the world and cover all needs
                IT using best class cloud strategy. We cover all the IT need via
                accurate and developed a unique phenomenon via managing the holistic cloud
                environment through the latest cloud-based models and technologies.</p>
        </div>
    </div>
</div>

<!-- OUR STRATEGIES -->
<div class="container-fluid ourstrategies pt-5 mt-5">
    <div class="row">
        <div class="col-12">
            <h3>Our Core Strategies</h3>
        </div>
        <!-- ------------------------- -->
        <div class="col-12">
            <div class="row p-4">
                <div class="col-md-6 p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon1.png">
                                <h4>Spark innovation</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon2.png">
                                <h4>Construct a plan of action</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon3.png">
                                <h4>Outperform the competition</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon4.png">
                                <h4>Putting strategies into play</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon5.png">
                                <h4>Increase your success</h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="finalpoints">
                                <img src="assets/image/dmicon6.png">
                                <h4>Capture your audience’s attention</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- HOWWEDO -->
<div class="container-fluid howwedocont">
    <div class="row mx-md-5 p-md-3">
        <div class="col-12" style="text-align:center;">
            <h4>How we do it</h4>
        </div>
        <div class="col-12 mt-5">
            <div class="row">
                <div class="col-lg-3 mt-3 p-1 howwedofinalpoints">
                    <div class="col-12" style="text-align:center;">
                        <img src="assets/image/dmicon7.png">
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <h4>Analysis</h4>
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <p style="text-align:center;">Before a contract is ever signed , we pop the hood on your
                            business with a detailed audit . </p>
                    </div>
                </div>
                <!-- ---------------------------- -->
                <div class="col-lg-3 mt-3 p-1 howwedofinalpoints">
                    <div class="col-12" style="text-align:center;">
                        <img src="assets/image/dmicon8.png">
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <h4>Strategy</h4>
                    </div>
                    <div class="col-12" style="text-align:center;">

                        <p style="text-align:center;">We develop a strategy to fill your content gaps and satisfy
                            the needs of your audience.</p>
                    </div>
                </div>
                <!-- ---------------------------- -->
                <div class="col-lg-3 mt-3 p-1 howwedofinalpoints">
                    <div class="col-12" style="text-align:center;">
                        <img src="assets/image/dmicon9.png">
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <h4>Implementation</h4>
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <p style="text-align:center;">Our copywriters develop the quizzes, articles, slide decks , froms
                            and landing pages that
                            suction leads into funnel and drive trust.</p>
                    </div>
                </div>
                <!-- ---------------------------- -->
                <div class="col-lg-3 mt-3 p-1 howwedofinalpoints">
                    <div class="col-12" style="text-align:center;">
                        <img src="assets/image/dmicon10.png">
                    </div>
                    <div class="col-12" style="text-align:center;">
                        <h4>Results,Rinse , Repeat</h4>
                    </div>
                    <div class="col-12 mb-5" style="text-align:center;">
                        <p style="text-align:center;">You become not only highly visible, but sought after for the
                            immense value you provide.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- OUR SERVICES -->
<div class="container-fluid mt-5 pt-5 ourservices">
    <div class="row px-5">
        <div class="col-12 mb-md-5">
            <h3>Our Services</h3>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('searchengine')">
                <h5>Search Engine <br> Optimisation</h5>
            </a>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('socialmedia')">
                <h5>Social Media <br> Marketing</h5>
            </a>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('Payper')">
                <h5>Pay Per Click <br> adverising</h5>
            </a>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('Contentwriting')">
                <h5>Content <br> Writing </h5>
            </a>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('socialmedia')">
                <h5>Email <br> Marketing</h5>
            </a>
        </div>
        <div class="col-md-2 col-4 mt-3 p-2 pointofservices">
            <a (click)="onClick('socialmedia')">
                <h5>Content <br> Writing </h5>
            </a>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------- -->
<div class="container-fluid mt-5 pt-5 headservices">
    <div class="row p-md-5">
        <div class="col-12" id="searchengine" style="text-align: center;">
            <h3>Search Engine Optimisation</h3>
        </div>
        <div class="col-12">
            <div class="row p-md-5 searchenginerow">
                <div class="col-lg-5 p-md-3 p-3 servicesengine1">
                    <h4 class="mb-3">SEO is about more than ranking on Google.</h4>
                    <p class="mb-3">When your competitors are ranked right beside you,
                        winning the sale comes down to who your customer sees, knows, and trusts more.</p>
                    <p class="mb-3"> That means being discovered consistently across every space your leads look, learn,
                        and buy.
                        It means getting creative and bold with your SEO strategy.</p>
                    <p class="mb-3">That’s why Power Digital’s SEO team finds opportunities your competitors miss to
                        craft
                        strategies that drive short-term wins while building long-term growth.</p>
                </div>
                <div class="col-lg-5 mt-4 p-md-5 p-3 servicesengine2">
                    <h5 class="mb-3">When you're visible at every stage from consideration to purchase, you will:</h5>
                    <h4 class="mb-3">Grow Visibility and Trust</h4>
                    <h4 class="mb-3"> Drive Sales Qualified Leads</h4>
                    <h4 class="mb-3">Reduce Acquisition Costs</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------Social  Media Marketing----------------------- -->
<div class="container-fluid mt-3 headservices">
    <div class="row p-md-5">
        <div class="col-12" id="socialmedia" style="text-align: center;">
            <h3>Social Media Marketing</h3>
        </div>
        <div class="col-12">
            <div class="row p-md-5 searchenginerow">
                <div class="col-lg-5 p-md-3 p-3 servicesengine1">
                    <h4 class="mb-3">SEO is about more than ranking on Google.</h4>
                    <p class="mb-3">When your competitors are ranked right beside you,
                        winning the sale comes down to who your customer sees, knows, and trusts more.</p>
                    <p class="mb-3"> That means being discovered consistently across every space your leads look, learn,
                        and buy.
                        It means getting creative and bold with your SEO strategy.</p>
                    <p class="mb-3">That’s why Power Digital’s SEO team finds opportunities your competitors miss to
                        craft
                        strategies that drive short-term wins while building long-term growth.</p>
                </div>
                <div class="col-lg-5 mt-4 p-md-5 p-3 servicesengine2">
                    <h5 class="mb-3">When you're visible at every stage from consideration to purchase, you will:</h5>
                    <h4 class="mb-3">Grow Visibility and Trust</h4>
                    <h4 class="mb-3"> Drive Sales Qualified Leads</h4>
                    <h4 class="mb-3">Reduce Acquisition Costs</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------------Pay Per Click adverising----------------- -->
<div class="container-fluid mt-3 headservices">
    <div class="row p-md-5">
        <div class="col-12" id="Payper" style="text-align: center;">
            <h3>Pay Per Click adverising</h3>
        </div>
        <div class="col-12">
            <div class="row p-md-5 searchenginerow">
                <div class="col-lg-5 p-md-3 p-3 servicesengine1">
                    <h4 class="mb-3">SEO is about more than ranking on Google.</h4>
                    <p class="mb-3">When your competitors are ranked right beside you,
                        winning the sale comes down to who your customer sees, knows, and trusts more.</p>
                    <p class="mb-3"> That means being discovered consistently across every space your leads look, learn,
                        and buy.
                        It means getting creative and bold with your SEO strategy.</p>
                    <p class="mb-3">That’s why Power Digital’s SEO team finds opportunities your competitors miss to
                        craft
                        strategies that drive short-term wins while building long-term growth.</p>
                </div>
                <div class="col-lg-5 mt-4 p-md-5 p-3 servicesengine2">
                    <h5 class="mb-3">When you're visible at every stage from consideration to purchase, you will:</h5>
                    <h4 class="mb-3">Grow Visibility and Trust</h4>
                    <h4 class="mb-3"> Drive Sales Qualified Leads</h4>
                    <h4 class="mb-3">Reduce Acquisition Costs</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- --------------Content Writing----------------------- -->
<div class="container-fluid mt-3 headservices">
    <div class="row p-md-5">
        <div class="col-12" id="Contentwriting" style="text-align: center;">
            <h3>Content Writing </h3>
        </div>
        <div class="col-12">
            <div class="row p-md-5 searchenginerow">
                <div class="col-lg-5 p-md-3 p-3 servicesengine1">
                    <h4 class="mb-3">SEO is about more than ranking on Google.</h4>
                    <p class="mb-3">When your competitors are ranked right beside you,
                        winning the sale comes down to who your customer sees, knows, and trusts more.</p>
                    <p class="mb-3"> That means being discovered consistently across every space your leads look, learn,
                        and buy.
                        It means getting creative and bold with your SEO strategy.</p>
                    <p class="mb-3">That’s why Power Digital’s SEO team finds opportunities your competitors miss to
                        craft
                        strategies that drive short-term wins while building long-term growth.</p>
                </div>
                <div class="col-lg-5 mt-4 p-md-5 p-3 servicesengine2">
                    <h5 class="mb-3">When you're visible at every stage from consideration to purchase, you will:</h5>
                    <h4 class="mb-3">Grow Visibility and Trust</h4>
                    <h4 class="mb-3"> Drive Sales Qualified Leads</h4>
                    <h4 class="mb-3">Reduce Acquisition Costs</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------COMPLETE SOLUTION TO SOCIAL MEDIA------------------------ -->

<div class="container-fluid mt-5 pt-2 mb-5">
    <div class="row p-md-5 p-2 completesolutiontosocialmedia">
        <div class="col-12">
            <h2>A complete solution to social media ad management</h2>

            <p class="mt-4">With WebFX, your business doesn’t have to worry about managing your social media advertising
                campaigns, whether on LinkedIn or Facebook. Our experienced team of social media specialists,
                as well as graphic designs handle everything when it comes to social media ad management.
            </p>
        </div>
        <div class="col-12 mt-5">
            <h5 class="mb-3">As a part of our social media ad management services, your business receives:</h5>

            <ol class="px-md-4 px-2">
                <li class="mt-2">Dedicated social media advertising account manager </li>
                <li class="mt-2">Quick response times (within 48 business hours) from your dedicated team</li>
                <li class="mt-2">Fast setup of ad accounts on social media platforms</li>
                <li class="mt-2">Custom ad strategy for each of your chosen platforms</li>
                <li class="mt-2">Unique ad campaigns and ads, including for remarketing</li>
                <li class="mt-2"> Advanced demographic targeting, including interest and user intent</li>
                <li class="mt-2">Monthly or weekly consultation with your dedicated account manager</li>
                <li class="mt-2">Monthly or weekly campaign reporting and analysis</li>
            </ol>
        </div>
    </div>
</div>