<div class="container-fluid">
    <div class="  header p-5">
        <div class="row p-md-5">
            <div class="col-12">
                <h1>Our Services</h1>
            </div>
            <div class="col-12 p-md-4 p-2">
                <p>Digital Transformation - We are witnessing the design of global brands and
                    building higher digital products,
                    thus allowing transparent user experiments on all modern platforms and devices.</p>
            </div>
        </div>
    </div>
</div>
<!-- ALL SERVICES -->

<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row rowreverse">
                <div class="col-lg-6">
                    <div class="row p-md-3 p-2">
                        <div class="col-12 webservice1 ">
                            <h1>01 <h3>Website & CMS <font color="#081B32"><br> Development</font>
                                </h3>
                            </h1>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5 mt-lg-0 mt-4">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Website Development</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; E-Commerce Solution</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; WordPress Website</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Application Manitenance
                            </div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center;">
                                <a routerLink="/webandcms" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/webpic.png" height="100%" width="100%" class="servicepic1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- -----------------------for 2 to 3------------------ -->
<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row p-md-3 p-2">
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/mobilepic.png" width="100%" height="100%" class="servicepic1"></div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 webservice1">
                            <h1>02</h1>
                            <h3>Mobile App <font color="#081B32">Development</font>
                            </h3>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 mb-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Android</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; iOS</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Flutter </div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; React Native</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Ionic</div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center ;">
                                <a routerLink="/Mobile" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------3 to 4-------------------- -->
<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row rowreverse p-md-3 p-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 webservice1">
                            <h1>03</h1>
                            <h3>Designing</h3>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Ux/Ui Design</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; App Design</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Web Desing</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Branding</div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center ;">
                                <a routerLink="/uiux" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/webpic.png" width="100%" height="100%" class="servicepic1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ------------------ 4 to 5---------------------- -->
<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row p-md-3 p-2">
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/marketingpic.png" width="100%" height="100%" class="servicepic1"></div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 webservice1">
                            <h1>04</h1>
                            <h3>Digital<font color="#081B32"> Marketing</font>
                            </h3>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 mb-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Advertisment</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Search Engine Optimisation
                            </div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Social Media marketing
                            </div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Content Writing</div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center ;">
                                <a routerLink="/Digitalmarket" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -----------------5 to w6-------------------- -->
<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row rowreverse p-md-3 p-2">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 webservice1">
                            <h1>05</h1>
                            <h3>Cloud<font color="#081B32"> Solution</font>
                            </h3>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Azure</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Amazon Web Services</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Google Cloud</div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center ;">
                                <a routerLink="/cloud" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/cloudpic.png" width="100%" height="100%" class="servicepic1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- -------------------------6-------------------/ -->
<div class="container-fluid service">
    <div class="row pt-5 mt-md-5">
        <div class="col-12">
            <div class="row p-md-3 p-2">
                <div class="col-lg-6 p-5">
                    <div><img src="assets/image/consultingpic.png" width="100%" height="100%" class="servicepic1"></div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12 webservice1">
                            <h1>06</h1>
                            <h3>Digital<font color="#081B32">Consulting</font>
                            </h3>
                        </div>
                        <div class="col-12 webservice1 pt-3 px-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                suspendisse morbi tristique in. Egestas dignissim netus nisl at.
                                Faucibus tortor vitae eu aliquam sit sed nullam. Tortor, tellus est nunc faucibus.
                                Quis vitae eget feugiat quam sed interdum senectus. </p>
                        </div>

                        <div class="col-12 px-5 mb-5 webline1">
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Staffing</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Consulting Advisery</div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Training & Development
                            </div>
                            <div class="webline"><img src="assets/image/Line 92.png">&nbsp; Recrutment</div>

                            <div class="col-md-4 col-6 p-3 mb-3 ctnus" style="text-align:center ;">
                                <a routerLink="/consulting" (click)="exit()">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TOUCH TO CONTACT -->
<div class="container-fluid touchcontainer">
    <div class="row p-md-5 p-3">
        <div class="col-12 pb-3" style="text-align:center;">
            <h3>Get in touch with one of our specialists.</h3>
        </div>
        <div class="col-12 pb-3 pt-2 p-md-2" style="text-align:center;">
            <h4>Let's Build Great Products Together.</h4>
        </div>
        <div class="col-12 pt-2 ">
            <div class="row">
                <div class="col-md-5 col-4"></div>
                <div class="col-md-2 col-4 p-3 ctnus"  style="text-align:center ;">
                    <a routerLink="/consulting" (click)="exit()">LET'S TALK</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
